# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Test & Coverage
.coverage
.coverage.*
coverage.xml
.cache/
.pytest_cache/
catboost_info/
pysmatch/_version.py

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Environments
.env
.venv
